@model IEnumerable<SchoolHub.Common.Models.Entities.ClassGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegistration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassGroupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassGroupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassGroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
